body{
    height: 100vh;
    width: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: rgb(52, 165, 52);
    margin-top: 30px;
} 